[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
yamllint = "*"
pre-commit = "*"
ansible-lint = "*"

[dev-packages]

[requires]
python_version = "3.8"
